/WebApplication/nbproject/private/
/WebApplication/build/
/WebApplication_02/nbproject/private/
/WebApplication_02/build/
/WebApplication03_A/nbproject/private/
/WebApplication03_A/build/
/WebApplication03_B/nbproject/private/
/WebApplication03_Bb/nbproject/private/
/WebApplication03_Bb/build/
/WebApplication03_Bb/dist/
/WebApplication03_C/nbproject/private/
/WebApplication03_C/build/
/WebApplication04_A/nbproject/private/
/WebApplication04_A/build/
/WebApplication04_A/dist/
/WebApplication04_B/nbproject/private/
/WebApplication04_B/build/
/WebApplication04_B/dist/
/WebApplication04_C/nbproject/private/
/noo/nbproject/private/
/noo/build/
/WebApplication05_A/nbproject/private/
/WebApplication05_A/build/
/WebApplication_06/nbproject/private/
/WebApplication_06/build/